@mixin displayFlex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

}

@mixin alignJustifyCenter {
	@include displayFlex;
	justify-content: center;
	align-items: center;
}

@mixin buttonSlideRight($color: rgba(var(--p1), 0.3), $activeColor: rgba(var(--p1), 1)) {
	background: $color;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background: $activeColor;
		border-radius: inherit;
		width: 0;
		height: 100%;
		z-index: -1;
		transition: width 0.5s ease-in-out;
	}

	&:hover {
		&::before {
			width: 100%;
		}
	}
}

@mixin buttonCircleSlide {
	height: 4.8rem;
	width: 4.8rem;
	background: transparent;
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: all 0.5s ease;
	border: 1px solid rgb(var(--p1));

	&::before {
		content: "";
		position: absolute;
		top: var(--y);
		left: var(--x);
		transform: translate(-50%, -50%);
		transition: all 0.7s ease;
		background: rgb(var(--p1));
		border-radius: inherit;
		width: 0;
		height: 0;
		z-index: -1;
	}

	&:hover {
		&::before {
			width: 200%;
			height: 200%;
		}
	}
}